<div class="nav">
  <%= link_to 'Back', root_path %> |  
  <%= render "devise/shared/links" %>
</div>

<h1> Sign Up </h1>
<p> Please take a moment to fill out this form and become a member of the site. There is no charge and you'll be able to make posts to help others and read the columns on advice you may need. Thanks! Have a great day! </p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="leftform">
  <div><%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %></div>
  
  <div><%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %></div>

  <div><%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %></div>

  <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  </div>

  <div class="rightform">
  <div><%= f.label :restname, "Restaurant Name" %><br />
    <%= f.text_field :restname, placeholder: 'required' %></div>

  <div><%= f.label :reststreet, "Restaurant Address" %><br />
    <%= f.text_field :reststreet, placeholder: 'required' %></div>

  <div><%= f.label :restcity, "City or Province" %><br />
    <%= f.text_field :restcity, placeholder: 'required' %></div>

  <div><%= f.label :reststate, "State" %><br />
    <%= f.text_field :reststate %></div>

  <div><%= f.label :restzip, "Zip Code" %><br />
    <%= f.text_field :restzip %></div>

  <div><%= f.label :restcountry, "Country" %><br />
    <%= f.text_field :restcountry, placeholder: 'required' %></div>

  <div><%= f.label :restphone, "Phone Number" %><br />
    <%= f.text_field :restphone %></div>

  <div class="pic">
      <%= f.label :avatar, "Add a picture of your restaurant." %> <br/>
      <%= f.file_field :avatar %>
  </div>

  <div><%= f.submit "Sign up" %></div>
  </div>
  
<% end %>


