<%= render "shared/nav" %>

  <div class="section group">
    <div class="col s1">

      <h1 id="heading">History of Questions asked and Comments made</h1>
      <h3 id="expert">Any name in <span class="expert"> green </span> will be a name of an expert in our field.</h3>
      <%= will_paginate @posts %>
      <ul>
        <% @posts.each do |post| %>
          <div id="postsection">
          <li class="post"> <span id="link"> <%= link_to post.title, post %>  </span> | 
            
          <% if post.user.expert %>
            <span class="expert"><%= post.user.fname %></span>
          <% else %>
            <span><%= post.user.fname %></span>
          <%end%>

          from <%= post.user.restname %> in <%= post.user.restcity %>, 

            <% if post.user.reststate == "" %>
              <%= post.user.restcountry %>
            <% else %>
              <%= post.user.reststate %>, <%= post.user.restcountry %>
            <% end %> </li> 
            
          <% post.comments.each do |comment| %>
            
            <% if comment.post.id == post.id %>       
              <li class="comment"> <%= comment.title %> | 

              <% if comment.user.expert %>
                <span class="expert"><%= comment.user.fname %></span>
              <% else %>
                <span><%= comment.user.fname %></span>
              <%end%>

              from <%= comment.user.restname %> in <%= comment.user.restcity %>, 

                <% if comment.user.reststate == "" %>
                  <%= comment.user.restcountry %>
                <% else %>
                  <%= comment.user.reststate %>, <%= comment.user.restcountry %>
                <% end %>

            <% else %>

            <% end %>
          <% end %>
          </div>   
        <% end %>
      </ul>
      <%= will_paginate @posts %>
    </div>


    <div class="col s2">
      <div class="imgContainer1">
        <img src="/assets/dee.jpg" alt="Dee's Diner in Salt Lake City, Ut">
      </div>
      <div class="imgContainer">
        <img src="/assets/bg.jpg" alt="Bamboo Gardens in Miami, Fl">
      </div>
      <div class="imgContainer">
        <img src="/assets/kenkee.jpg" alt="Kenkee in Chicago, Il">
      </div>
      <div class="imgContainer">
        <img src="/assets/grandpalace.jpg" alt="Grand Palace in Chicago, Il">
      </div>
    </div>
  </div>

  <br>
<p id="foot">If you would like to become an <span class="expert">expert</span> on this site, click here to email <a href="mailto:admin@tweatonfood.com?subject=Request to become an expert.&body=Say a few words here or send some documentation stating your qualifications on becoming an expert for Tweatonfood. Thanks for your time.">admin@tweatonfood.com</a> with your qualifications for approval. Thanks.</p><br/>
