<div class="nav">
  <% if current_user.id == @post.user.id %>
    <%= link_to 'Edit Your Information', edit_user_registration_path %>  
  <% end %>

  <%= link_to 'Back', posts_path %>   
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</div>

<div class="section group">
  <div class="col s1">

    <h1> Here are some more posts from 

      <% if @post.user.expert %>
        <span class="expert"><%= @post.user.fname %></span>
      <% else %>
        <span><%= @post.user.fname %></span>
      <%end%>

      : </h1>
      
    <p> Click on the post to see more of the conversation. </p>

    <ol class="listposts">
    	<% @posts.each do |post| %>
    		<% if @post.user.id == post.user.id %>
      		<li class="postuser"> <%= link_to post.title, post_path(post) %> </li>
    		<% end %>
    	<% end %>
    </ol>	

  </div>
  
  <div class="col s2">	
    <div class="imgContainer1">
      <img src="/assets/dee.jpg" alt="Dee's Diner in Salt Lake City, Ut">
    </div>
    <div class="imgContainer">
      <img src="/assets/bg.jpg" alt="Bamboo Gardens in Miami, Fl">
    </div>
    <div class="imgContainer">
      <img src="/assets/kenkee.jpg" alt="Kenkee in Chicago, Il">
    </div>
    <div class="imgContainer">
      <img src="/assets/grandpalace.jpg" alt="Grand Palace in Chicago, Il">
    </div>
  </div>
  
</div>