<div class="nav">
<%= link_to 'Post a Comment', new_post_comment_path(@post) %>  
<%= link_to "More posts from " + @post.user.fname, post_postuser_path(@post) %> 

<% if current_user.id == @post.user.id %>
  <%= link_to 'Edit Your Post', edit_post_path(@post) %>  <%= link_to 'Delete Your Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>  <%= link_to 'Edit Your Information', edit_user_registration_path %>  
<% end %>

<%= link_to 'Back', posts_path %>   
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</div>


<div class="leftbox">

<div class="posts_comments">
<h1><%= @post.user.fname %>'s Question from <%= @post.user.restname %> in <%= @post.user.restcity %>, <%= @post.user.reststate %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %> 
</p>

<p> Comments: </p>
<% @post.comments.each do |comment| %>
        
  <% if comment.post.id == @post.id %>   
    <li class="comment"> <%= comment.body %> 
    | by <%= comment.user.fname %> from <%= comment.user.restname %> in <%= comment.user.restcity %>, <%= comment.user.reststate %> 
      <% if comment.user.id == current_user.id %>
         | <span class="editComment"> <%= link_to 'Edit Your Comment', edit_post_comment_path(comment.post.id, comment.id) %> </span><br/> </li> 
      <% end %>
  <% else %>

  <% end %>
<% end %>   

</div>

<div class="follow_container">
  <div class="follow">
    <h3>Who does <%= @post.user.fname %> follow?</h3>
    <ul>
      <% @post.user.followeds.each do |post| %>
        <% if post.expert %>
          <li class="expert"><%= post.fname %></li>
        <% else %>
          <li><%= post.fname %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="followingYou">
    <h3>Who's following <%= @post.user.fname %>?</h3>
    <ul>
      <% @post.user.followers.each do |post| %>
        <% if post.expert %>
          <li class="expert"><%= post.fname %></li>
        <% else %>
          <li><%= post.fname %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

</div>


<div class="rightbox">
  <div class="info">
    <div class="picframe">
    <%= image_tag @post.user.avatar.url %> 
    </div>
  </div>

  <div class="map">
    <div style='width: 500px;'>
      <div id="map" style='width: 475px; height: 400px;'></div>
    </div>
  </div>

</div>

<div class="followSwitch">
<%if current_user && @post.user != current_user %>
  <% if current_user.followeds.include? @post.user %>
      <%= link_to 'Unfollow ' + @post.user.fname, unfollow_post_path(@post.user), method: :post %> 
    <% else %>
      <%= link_to 'Follow ' + @post.user.fname, follow_post_path(@post.user), method: :post %>
  <% end %>
<% end %>
</div>

<br/>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  
  markers = handler.addMarkers(<%=raw @hash.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15);
});
</script>